<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<title>Test Koa</title>
	<link rel="stylesheet" type="text/css" href="style.css">

	<script>
        var files = [
            "js/TweenMax.js"
        ];

        var i = 0;
        var loadJS = function() {
            var extJavascript = document.createElement('script');
            if (i < files.length - 1) {
                extJavascript.onload = function() {
                    loadJS();
                }
            } else {
                extJavascript.onload = function() {
                    // startAd();
                }
            }
            extJavascript.setAttribute('type', 'text/javascript');
            extJavascript.setAttribute('src', files[i]);
            document.getElementsByTagName('head')[0].appendChild(extJavascript);
            i++;
        }
        loadJS();
    </script>
</head>

<body>
	<div class="container">
		<p class="topic">test:</p>
		<div class="left-box">
			<img src="img/lufei.jpg" alt="">
		</div>
		<div class="right-box">
			<p class="title"><%= QAQ.QAQ[0].Q %></p>
			<p><span class="choice"><%= QAQ.QAQ[0].a %></span></p>
			<p><span class="choice"><%= QAQ.QAQ[0].b %></span></p>
			<p><span class="choice"><%= QAQ.QAQ[0].c %></span></p>
		</div>
	</div>
</body>

</html>
