<p class="topic animated bounce">QUESTION: <%= otherAccess.qIndex %></p>
<div class="left-box">
	<div class="thumbail animated rollIn preload" data-source="img/lufei.jpg"></div>
</div>
<div class="right-box">
	<p class="title animated zoomIn"><%= QAQ.Q %></p>
	<% for(var i=0; i<QAQ.a.length; i++) {%>
		<p class="choice multiple"><span><%= QAQ.a[i] %></span></p>
	<% } %>
</div>
<div class="submit animated fadeInUp">
	<% if (otherAccess.qIndex == 3) { %>
		SUBMIT
	<% } else { %>
		NEXT
	<% } %>
</div>
